## TASK 1

In [3]:
#1.1

from functools import reduce

In [7]:
s= [1,2,3,4,5,6,7,8,9]

In [5]:
def myreduce(my_func,s):
    a=s[0]
    for i in s[1:]:
        a = my_func(a,i)
    return a

In [6]:
def summation(x,y):
    return x + y

In [8]:
myreduce(summation,s)

45

In [14]:
l=[1,2,2,3,4,2,2,3,3,1,1,8,9,0]

In [50]:
def my_filter(my_func,l):
    n=[]
    for i in l:
        if my_func(i) == True:
            n.append(i)
    return n

In [51]:
my_filter(odd_check,l)

[1, 3, 3, 3, 1, 1, 9]

In [43]:
def odd_check(num):
    if num %2 !=0:
        return True

In [44]:
odd_check(3)

True

In [52]:
def even_check(num):
    if num%2 == 0:
        return True

In [53]:
my_filter(even_check,l)

[2, 2, 4, 2, 2, 8, 0]

In [59]:
#map function

def mymap(func,l):
    m=[]
    for i in l:
        
        m.append(func(i))
    return m

In [60]:
mymap(square,l)

[1, 4, 4, 9, 16, 4, 4, 9, 9, 1, 1, 64, 81, 0]

In [55]:
def square(a):
    return a**2

In [56]:
square(5)

25

In [65]:
#2.

l= ['A', 'C', 'A', 'D', 'G', 'I', 'L','D']
[i for i in l ]

['A', 'C', 'A', 'D', 'G', 'I', 'L', 'D']

In [76]:
a=['x','y','z']
[i*j for i in a for j in range(1,5)]

['x', 'xx', 'xxx', 'xxxx', 'y', 'yy', 'yyy', 'yyyy', 'z', 'zz', 'zzz', 'zzzz']

In [78]:
a

['x', 'y', 'z']

In [86]:
a=['x','y','z']
[i*j for i in range(1,5) for j in a]

['x', 'y', 'z', 'xx', 'yy', 'zz', 'xxx', 'yyy', 'zzz', 'xxxx', 'yyyy', 'zzzz']

In [90]:
c=[2,3,4]
[[i+j] for i in c for j in range(0,3)]

[[2], [3], [4], [3], [4], [5], [4], [5], [6]]

In [94]:
c=[2,3,4,5]
[[i+j for i in c] for j in range(0,4)]

[[2, 3, 4, 5], [3, 4, 5, 6], [4, 5, 6, 7], [5, 6, 7, 8]]

In [99]:
r= (1,2,3)
[(j,i) for i in range(1,4) for j in r]

[(1, 1), (2, 1), (3, 1), (1, 2), (2, 2), (3, 2), (1, 3), (2, 3), (3, 3)]

In [100]:
#3.

l= ['My', "name","is","Ankita", "Chatterjee"]

In [103]:
def longestword(sequence):
    max_word=''
    for word in sequence:
        if len(word)>len(max_word):
            max_word=word
    return max_word

In [104]:
longestword(l)

'Chatterjee'

## TASK 2

In [114]:
#2.2

def vowel(a):
    a = a.lower()
    if a in "aeiou":
        return True
    else:
        return False

In [115]:
vowel("s")

False

In [109]:
vowel("A")

True

In [117]:
vowel('e')

True

In [128]:
vowel('E')

True

In [132]:
l=["my", "name ", "is","Ankita"]
num= 5

In [133]:
def filter_long_words(words,num):
    n=[]
    for word in words:
        if len(word)>num:
            n.append(word)
    return n

In [136]:
filter_long_words(l,2)

['name ', 'Ankita']

In [138]:
def filter_long_words(words,num):
    return [word for word in words if len(word)>num]

In [157]:
filter_long_words(l,3)

['name', 'Ankita', 'Chatterjee']

In [1]:
#2.1

def func(seq):
    return list(map(len,seq))

In [2]:
l= ["caspy","is","a","good","doggo"]

In [3]:
func(l)

[5, 2, 1, 4, 5]

In [8]:
# 1.1

class Tri_sides:
    def __init__(self,a, b, c):
        self.a=a
        self.b=b
        self.c=c
        self.s=0.5*(self.a+self.b+self.c)
        
class Tri_area(Tri_sides):
    def area(self):
        area_of_triangle=(self.s*(self.s-self.a)*(self.s-self.b)*(self.s-self.c))**0.5
        print("The area of triangle is:{}".format(area_of_triangle))

In [9]:
s =Tri_area(2,3,4)

In [10]:
s.area()

The area of triangle is:2.9047375096555625